= render partial: "layouts/header"
%section.padding.bck.color
  .row
    .column_3.padding
      %img.responsive.rounded{"data-tip" => "Brian Schroer", :src => "http://m.c.lnkd.licdn.com/mpr/pub/image-PQGJtnsetlwkmiytvFgXFC7kN6E4TiINkwGEwUaiNJk5hwfnPQGESmPeNHmohj7X6un5/brian-schroer.jpg"}/
    .column_9.color.white
      %h1.text.bold.color.theme.margin-top Brian Schroer
      %h3.text.normal.italic.margin-bottom Web Developer 
      %h4.text.justify.margin-bottom Digital Anthropologist turned web developer. Rails practitioner and Angular apprentice. Design enthusiast.
      .row.text.bold.hide-phone
        .column_3
          %a.color.theme{:href => "http://www.brianschroer.co"}
            %span.icon.home.white-link &nbsp More about me...
        .column_3
          %span.icon.pushpin
          San Francisco, CA
        .column_3.text.big.right
          %a.margin-right.icon.twitter{:href => "www.twitter.com/bumblingbees"}
          %a.margin-right.icon.github{:href => "https://github.com/schroerbrian"}
          %a.icon.linkedin{:href => "http://www.linkedin.com/in/bschroer"}

%section.theme.padding.bck.color
  .row
    .column_3.padding
      %img.responsive.rounded{"data-tip" => "Xiao G. Wu", :src => "https://en.gravatar.com/userimage/414435/ab93ba383bab4eb79ac1bd30b0f5f05b.jpg?size=200"}/
    .column_9.color.white
      %h1.text.bold.color.margin-top Xiao G. Wu
      %h3.text.normal.italic.margin-bottom Web Development Engineer
      %h4.text.justify.margin-bottom Web Developer Engineer in training.  Currently attending General Assembly Web Development Immersion program in SF, CA.
      .row.text.bold.hover-over.hide-phone
        .column_3
          %a.color.hover-link{:href => "http://xiaogwu.github.io"}
            %span.icon.home
            http://xiaogwu.github.io
        .column_3
          %span.icon.pushpin
          San Francisco, CA
        .column_3.text.big.right
          %a.margin-right.icon.twitter.hover-link{:href => "http://www.twitter.com/xiaogwu"}
          %a.margin-right.icon.github.hover-link{:href => "https://github.com/xiaogwu"}
          %a.hover-link.icon.linkedin{:href => "http://www.linkedin.com/in/xiaogwu"}

%footer.bck.white.padding
  .row.margin-top.margin-bottom
    .column_4.offset_4.text.center
      &copy; 2013 Locale
