= render partial: "layouts/header"
.overlay
  #map
  / %nav
  / - if current_user
  /   Signed in as #{current_user.name}!
  /   = link_to "Sign out", signout_path
  / - else
  /   = link_to "Sign in with Facebook", "/auth/facebook"
  /   %br
  /   = link_to "Sign in with Google", "/auth/google_oauth2"
  / - flash.each do |name, msg|
  /   = content_tag :div, msg, id: "flash_#{name}"



  #modal.column_5{"data-tuktuk" => "modal"}
    %header
      %h5.text.book.inline Welcome to Locale!
      %button.transparent.small.on-right.inline.icon.remove{"data-modal" => "close"}
    %span.text.bold.intro It's easy to get started: 
    %article
      Click on the map to set a marker.<br>
      Click the marker to see goings-on around you.<br>
      Move the map marker wherever you like. <br> 
      Discover what is going on, locally or abroad!<br>

:javascript

  $('.leaflet-clickable').click(function(){
    console.log("hi");
  });

  L.Icon.Default.imagePath = "/assets/vendor/images"

  var base_layer = new L.tileLayer(
    'http://{s}.tile.cloudmade.com/dc110df5a8fa4f72ab755526e9ae8146/96129/256/{z}/{x}/{y}.png', {
    attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
     }
  );

  var map = new L.map('map', {
    layers: [base_layer],
    center: [37.7577, -122.4376],
    zoom: 13,
    zoomControl: true
  });

  L.control.locate({
    follow: true,
    stopFollowingOnDrag: true
  }).addTo(map);

  function restoreMarker() {
    //geoCords = getCookie("lat_lng");
    var check = checkGeoCookie();
    if (check) {
      //alert("GeoCords Present");
      var cords = getCookie("lat_lng");
      var lat_lng = cords.split("|");
      //alert(lat_lng[0]);
      //alert(lat_lng[1]);
      mymarker = L.marker([lat_lng[0], lat_lng[1]]).addTo(map);
      mymarker.bindPopup('<div id="map_bubble" style="font-size:32px;"><a href="/foursquare"><span class="icon ok" style="padding:10px"></span></a><a href="/instagram"><span class="icon camera-retro" style="padding:10px"></span></a><a href="/posts"><span class="icon list-alt" style="padding:10px"></span></a><a href="/twitter"><span class="icon twitter-sign" style="padding:10px"></span></a></div>', {'minWidth': '202'});
    }
    else {
      mymarker = L.marker();
      mymarker.bindPopup('<div id="map_bubble" style="font-size:32px;"><a href="/foursquare"><span class="icon ok" style="padding:10px"></span></a><a href="/instagram"><span class="icon camera-retro" style="padding:10px"></span></a><a href="/posts"><span class="icon list-alt" style="padding:10px"></span></a><a href="/twitter"><span class="icon twitter-sign" style="padding:10px"></span></a></div>', {'minWidth': '202'});
    }
    //alert(geoCords);
  }

  // Store Geolocation into cookie
  function setGeoCookie(position) {
    //console.log(position.lat);
    //console.log(position.lng);
    var cookie_val = position.lat + "|" + position.lng;
    //console.log(cookie_val);
    document.cookie = "lat_lng=" + escape(cookie_val);
    //console.log(cookie_val);
  }

  function getCookie(c_name) {
    var c_value  = document.cookie;
    var c_start = c_value.indexOf(" " +c_name + "=");
    if (c_start == -1) {
      c_start = c_value.indexOf(c_name + "=");
    }
    if (c_start == -1) {
      c_value = null;
    }
    else {
      c_start = c_value.indexOf("=", c_start) + 1;
      var c_end = c_value.indexOf(";", c_start);
      if (c_end == -1) {
        c_end = c_value.length;
      }
      c_value = unescape(c_value.substring(c_start, c_end));
    }
    return c_value;
  }

  function checkGeoCookie() {
      var geoCords = getCookie("lat_lng");
      if (geoCords != null && geoCords != "") {
        //alert("GeoCords set!");
        return true;
      }
      else {
        //alert("GeoCords not set, please set a marker on the map.");
        $('#map').css('opacity', '0.2');
        $('#modal').addClass("active");
        return false;
      }
  }

  // Click on map show
  function onMapClick(e) {
    mymarker
          .setLatLng(e.latlng)
          .addTo(map);
    setGeoCookie(e.latlng);
  }

  TukTuk.Modal.loading();
  setTimeout( TukTuk.Modal.hide, 1000);

  map.on('click', onMapClick);

  window.onload=restoreMarker;

  $('button.transparent.small.on-right.inline.icon.remove').on("click", function(e) {
    $('#modal').removeClass("active");
    $('#map').css('opacity', '1');
  });



