= render partial: "layouts/header"
#map
/ %nav
/ - if current_user
/   Signed in as #{current_user.name}!
/   = link_to "Sign out", signout_path
/ - else
/   = link_to "Sign in with Facebook", "/auth/facebook"
/   %br
/   = link_to "Sign in with Google", "/auth/google_oauth2"
/ - flash.each do |name, msg|
/   = content_tag :div, msg, id: "flash_#{name}"
%section
  %footer.bck.light
    %nav.on-left.text.bold{"data-tuktuk" => "menu"}
      %a.active{:href => "#"}
        Use this location

:javascript
  // initialize map
  //var map = L.map('map').setView([37.7577, -122.4376], 13);

  //L.tileLayer('http://{s}.tile.cloudmade.com/dc110df5a8fa4f72ab755526e9ae8146/997/256/{z}/{x}/{y}.png', {
      //attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      //maxZoom: 18
  //}).addTo(map);


  var base_layer = new L.tileLayer(
    'http://{s}.tile.cloudmade.com/dc110df5a8fa4f72ab755526e9ae8146/96129/256/{z}/{x}/{y}.png', {
    attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
     }
  );

  var map = new L.map('map', {
    layers: [base_layer],
    center: [37.7577, -122.4376],
    zoom: 13,
    zoomControl: true
  });

  L.control.locate({
    follow: true,
    stopFollowingOnDrag: true
  }).addTo(map);



  // Store Geolocation into cookie
  function setGeoCookie(position) {
    //console.log(position.lat);
    //console.log(position.lng);
    var cookie_val = position.lat + "|" + position.lng;
    //console.log(cookie_val);
    document.cookie = "lat_lng=" + escape(cookie_val);
    //console.log(cookie_val);
  }

  // Click on map show
  var mymarker = L.marker();
  mymarker.bindPopup('<span class="icon camera-retro"></span> <a href="/instagram">Instagram</a><br><span class="icon twitter-sign"</span> <a href="/twitter">Twitter</a><br><span class="icon ok"></span> <a href="/foursquare">Foursquare</a><br><span class="icon list-alt"></span> <a href="/posts">Posts</a>');

  function onMapClick(e) {
    mymarker
          .setLatLng(e.latlng)
          .addTo(map);
    setGeoCookie(e.latlng);
  }

  map.on('click', onMapClick);

