<div ng-app="Poster">
	<div ng-controller="PostingCtrl">
		<form ng-submit = "addPost()">
			<input type="text" ng-model="newPost.body">
			<input type="submit" value: "Add">
		</form>
		<ul>
			<li ng-repeat="post in posts">
				{{post.body}}</br>hi</br> 
				{{post.comments.text}}
				bye
			</li>

		</ul>
	</div>
</div>
