%br
%br
%div{"ng-app" => "Poster"}
  %div{"ng-controller" => "PostingCtrl"}
    %strong Submit a new post:
    %form{"ng-submit" => "addPost()"}
      %input{"ng-model" => "newPost.body", :type => "text"}
        %input{"type" => "submit", "value" => "Add Post"}
    %ul
      %li{"ng-repeat" => "post in posts"}
        {{post.body}}
        %ul{"ng-repeat" => "comment in post.comments"}
          %li  {{comment.text}}
        %ul
          %li 
            %strong Write a comment...

%br
%br

= render partial: 'json' 
/ formats: {[:json]} 

/ = render partial: 'form', locals: { count: @count}
