= render partial: "layouts/header"
%div.posts-container{"ng-app" => "Poster"}
  //add posts
  %div.column_8.offset_3{"ng-controller" => "PostingCtrl"}
    .posts-main
      %h3.conversations Conversations in your area
      .post-link
        = link_to "#" do
          %span.icon.pencil.header
          %span POST
      .post-submit
        %form.submit-post-field{"ng-submit" => "addPost()"}
          %input{"ng-model" => "newPost.body",  "ng-focus" => "getGPS()",:type => "text", "placeholder" => "Submit a post..."}
      //list posts
      %ul.posts{"ng-repeat" => "post in posts", :class => "post-{{post.id}}"}
        %li{:class => "post-li", :id => "post-{{post.id}}"}
          %h5.comment {{post.body}}
          %ul.comments{"ng-repeat" => "comment in post.comments"}
            %li {{comment.text}}
          %form.submit-comment-field{"ng-submit" => "addComment(post.id, newComment)"}>
            %input{"ng-model" => "newComment.text", :type => "text", "placeholder" => "Add a comment..."}>

:javascript
  $(document).ready(function() {
    $('.post-link').click(function(event){
      event.preventDefault();
      $('.submit-post-field').css('display','block');
    });

  });
