%br
%div{"ng-app" => "Poster"}
  
  //add posts
  %div{"ng-controller" => "PostingCtrl"}
    %strong Submit a new post:
    %form{"ng-submit" => "addPost()"}
      %input{"ng-model" => "newPost.body", :type => "text"}
        %input{"type" => "submit", "value" => "Add Post"}
    
    //list posts
    %ul{"ng-repeat" => "post in posts"}
      %li{:class => "post", :id => "post-{{post.id}}"} 
        {{post.body}}     
        %ul{"ng-repeat" => "comment in post.comments"}
          %li  {{comment.text}}
        %ul{"ng-controller" => "CommentingCtrl"}
          %li 
            %form{"ng-submit" => "addComment(post.id, newComment)"}>
              %input{"ng-model" => "newComment.text", :type => "text"}>
                %input{"type" => "submit", "value" => "Add Comment"}>

%br
%br

= render partial: 'json' 
/ formats: {[:json]} 

/ = render partial: 'form', locals: { count: @count}
