= render partial: "layouts/header"
%div.posts-container{"ng-app" => "Poster"}
  //add posts
  %div.columns_8.offset_4.posting-controller{"ng-controller" => "PostingCtrl"}
    %strong Submit a new post:
    %form{"ng-submit" => "addPost()"}
      %input{"ng-model" => "newPost.body", :type => "text"}
    
    //list posts
    <div class = "ng-cloak">
    %ul{"ng-repeat" => "post in posts"}
      %li{:class => "post", :id => "post-{{post.id}}"} 
        {{post.body}}     
        %ul{"ng-repeat" => "comment in post.comments"}
          %li  {{comment.text}}
        %ul
          %li 
            %form{"ng-submit" => "addComment(post.id, newComment)"}>
              %input{"ng-model" => "newComment.text", :type => "text"}>
                %input{"type" => "submit", "value" => "Add Comment"}>
    </div>
     
%br
%br
