.foursquare-checkin {
  position: relative;
  max-width: 800px;
  left: 10%;
}

.foursquare-image {
  display: inline;
}

.foursquare-info {
  display: inline;
  position: relative;
  left: 8px;
  bottom: 15px;
}

.checkin-count {
  position: relative;
  left: 35px;
}
