.header-div {
	height: 45px;
}

header.main-header {
	display: block;
	position: fixed;
	width: 100%;
	height: 45px !important;
	line-height: 45px;
	padding: 0 1em;
	-webkit-box-flex: 0;
	z-index: 999;
	opacity: .9;
}

nav.view-links {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}

h3.title {
	position: absolute;
	left: 10%;
	font-weight: 400;
}

nav.signed-in-status {
	position: absolute;
	max-width: 175px;
	height: 40px;
	right: 10%;
	margin-top: 3px;
	padding: 0 5px 3px 5px;
	line-height: 20px;
}
span.icon.menu.hamburger {
	position: absolute;
	top: 8px;
	font-size: 1.75em;
}

div.hamburger-menu {
	display: none;
}

ul.signed-in-menu, ul.signed-out-menu {
	list-style: none;
}

ul.link-display {
	list-style: none;
	position: absolute;
	left: 33%;
	max-width: 400px;
}

ul.link-display li.header-links {
	display: inline;
	padding-left: 50px;
}

// ul.link-display li.twitter-header-link {
// 	padding-right: 50px;
// }

span.icon.header {
	font-size: 1.5em;
}

span.icon.map-marker.header {
	font-size: 2.5em;
}


@media handheld, screen and (max-width: 620px){
	header.main-header {
		display: block;
		position: fixed;
		width: 100%;
		height: 45px !important;
		line-height: 45px;
		padding: 0 1em;
		-webkit-box-flex: 0;
		z-index: 999;
		opacity: .9;
	}

	nav.view-links {
		max-width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	h3.title {
		position: absolute;
		left: 2%;
		font-weight: 400;
	}

	div.signed-in-status {
		position: absolute;
		max-width: 15px;
		overflow: hidden;
		height: 40px;
		left: 2%;
		margin-top: 2px;
		padding: 0 5px 3px 5px;
		line-height: 20px;
		border-left: solid grey 1px;
		border-right: solid grey 1px;
	}

	ul.signed-in-menu, ul.signed-out-menu {
		list-style: none;
	}

	ul.link-display {
		list-style: none;
		position: absolute;
		left: 33%;
		max-width: 400px;
	}

	ul.link-display li.header-links {
		display: inline;
		padding-left: 10px;
	}

	ul.link-display li.twitter-header-link {
		padding-right: 10px;
	}

	span.icon.header {
		font-size: 1.5em;
	}

	span.icon.map-marker.header {
		font-size: 2.5em;
	}

}
.local-image {
	position: relative;
	max-width: 612px;
	left: 3%;
}

.local-image img {
	max-width: 100%;
	height: auto;
	margin: 15px 0 0 0;
}
