// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reduce-margin {
  margin-top: -20px;
}

body > header .logo {
  margin-top: 8px;
  margin-right: 8px;
  max-height: 30px;
}

body > footer img {
  height: 18px;
  position: relative;
  top: 5px;
  left: 2px;
}

section.landing input {
  border-radius: 5px 0px 0px 5px !important;
}

section.landing button {
  border-radius: 0px 5px 5px 0px !important;
}

body > header .logo {
  margin-top: 8px;
  margin-right: 8px;
  max-height: 30px;
}

body > footer img {
  height: 18px;
  position: relative;
  top: 5px;
  left: 2px;
}

section.landing input {
  border-radius: 5px 0px 0px 5px !important;
}

section.landing button {
  border-radius: 0px 5px 5px 0px !important;
}

h6.sign-in-text {
  font-size: 1.4em !important;
}

@media handheld, screen and (max-width: 620px){

  .reduce-margin {
    margin-top: -70px;
    h1.front-page {
      font-size: 6em !important;
    }
    h2.front-page-subtitle {
      font-size: 3em !important; 
    }

  }



}
