.local-image {
	position: relative;
	max-width: 612px;
	left: 3%;
}

.local-image img {
	max-width: 100%;
	height: auto;
	margin: 15px 0 0 0;
}

//may want to change this eventually
.photo-caption {
	overflow: hidden;

}
