// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 1); /*can be anything, of course*/
}

#modal {
  top: 28%;
  header {
    margin-bottom: 10px;
  }
  h5.text.book.inline{
    text-transform: uppercase;
  }
  span.intro {
    margin-left: 10px;
  }
  article {
    margin-bottom: 5px;
    padding-top: 5px;
    line-height: 28px;
  }
}

.leaflet-top.leaflet-left {
  top: 46px;
}
