// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .loader {
// display: none;
// }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.posts-container {
	position: absolute;
	top: 80px;
}

.posts-main {
	max-width: 612px;
}

.submit-post-field {

}

h3.conversations {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}

ul.posts, ul.comments, ul.comment-form {
	list-style: none;
}

.posts-main .posts .post-li ul:nth-of-type(odd) {
	background: grey;
}

.submit-comment-field {
	position: relative;
	margin-left: 10%;
}
