// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts-container {
	position: absolute;
	top: 80px;
}

.posts-main {
	max-width: 612px;
}

h3.conversations {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #dce4ec;
}

.post-jq-link {
  span {
	font-size: 1.35em;
	text-transform: uppercase;
	font-weight: 400;
	}
}
.post-submit {
	margin-bottom: 10px;
}

.submit-post-field {
	display: block;
}

h5.comment {
	margin-bottom: 5px;
}

ul.posts, ul.comments, ul.comment-form {
	list-style: none;
}

.posts-main .posts .post-li ul.comments {
	border-bottom: solid white 1px;
	background-color: #f5fafa;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5%;
}

.submit-comment-field {
	position: relative;
	margin-left: 5%;
	margin-top: 0px;
	input[type="text"] {
		border: 1px solid #dce4ec;
	}
}

@media handheld, screen and (max-width: 620px){

	.posts-container {
		position: absolute;
		top: 50px;
		left: 10px;
	}

	.no-posts {
		position: absolute;
		width: 400px;
	}

}
