%header.bck.light.main-header
  %nav.view-links
    %ul.link-display
      %li.header-links.foursquare-header-link 
        %span.icon.ok.header
      %li.header-links.instagram-header-link 
        %span.icon.camera-retro.header 
      %li.header-links.map-header-link
        %span.icon.map-marker.header      
      %li.header-links.post-header-link 
        %span.icon.list-alt.header
      %li.header-links.twitter-header-link 
        %span.icon.twitter-sign.header
